@import '@/styles/variables.scss';

.hide-description:disabled {
    cursor:auto
}

.quest {
    @include size(50%, 90%);
    @include flexbox(center, space-around, column);

    gap: 20px;
    position: absolute;
    background: $primary-color;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
	
	&, .description, .location {
		border-radius: 12px
	}

    .location {
        @include size(100%, 40%);
    }

    .button-wrapper {
        @include flexbox(center, space-around, row, wrap);

        gap: 20px;
        font-size: min(3vw, 3rem);

        button {
            flex: 1
        }
    }

	.description {
		background: $secondary-color;
        padding: 10px;
        text-align: center;
        width: 100%;
        font-size: clamp(1.15rem, 2vw, 2rem)
	}

    @include img-list(36px, '/menu', home suicide);

    .home--img, .suicide--img {
        position: absolute;
        top: 16px;
        transition: .3s;
    }

    .home--img {
        left: 16px;

        &:hover {
            background: url(@/assets/img/menu/home-active.svg) center/contain no-repeat
        }
    }

    .suicide--img {
        right: 16px;
        transform-origin:  bottom;

        &:hover {
            transform: rotate(-30deg)
        }
    }

    @media (max-width: 600px) {
        @include size(100%);

        padding: 20px;
        border-radius: 0;

        .button-wrapper {
            gap: 10px
        }
    }
}

.fade {
    &-enter-active, &-leave-active {
        transition: opacity .7s ease
    }
    
    &-enter-from, &-leave-to {
        opacity: 0
    }
}

.move {
    &-enter-active, &-leave-active {
        transition: transform .7s ease, opacity .7s ease;
    }

    &-enter-from, &-leave-to {
        transform: translateY(100%);
        opacity: 0
    }

    &-enter-to, &-leave-from {
        transform: translateY(0);
        opacity: 1
    }
}
