$primary-color: #7d5e3c;
$secondary-color: #ead39c;
$border-color: #b51d0a;

@mixin size($width, $height: null) {
    width: $width;
    
    @if $height != null {
        height: $height
    }
    @else {
        height: $width
    }
}

@mixin flexbox($align: center, $justify: center, $direction: row, $wrap: nowrap) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
	flex-wrap: $wrap
}