@import '@/styles/variables.scss';

.inventory {
	@include img-list(20px, '/inventory', 'money' 'knifes');

	position: absolute;
    padding: 16px;
    top: 20px;
    right: 20px;

	background: $secondary-color;
	border-radius: 12px;
	font-size: min(4.5vw, 1.5rem);

	.inventory-item {
		display: flex;
		align-items: center;
		gap: 10px;
		
		span {
			display: block
		}
	}
}

.move-swap {
    &-enter-active, &-leave-active, &-leave-active, &-enter-active {
        transition: transform .7s ease-in-out, opacity .9s ease
    }

    &-enter-from, &-leave-to {
        transform: translateY(-100%);
        opacity: 0
    }	  

    &-enter-to, &-leave-from {
        transform: translateY(100%);
        opacity: 1
    }
}